<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<div class="container">
		<div class="row header">
			<div class="col-md-6">
				<a class="href h1" href="/"><span class="">VOTE✔LOCAL</span></a>
			</div>
			<div class="col-md-6">
				<div class="text-right user-auth-buttons">
					<a href="/login"><button class="btn btn-primary text-right">Login</button></a>
				<a href="/register"><button class="btn btn-primary text-right">Register</button></a>

				</div>
				
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Vote Local - My Local Election Information" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>			
			</div>
		</div>
	</div>

	<hr>

	{{{body}}}

	<script type="text/javascript" src="js/build/production.min.js"></script>
</body>
</html>
