<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<div class="container">
		<div class="row header">
			<div class="col-md-6">
				<a class="href h1" href="/"><span class="">VOTE✔LOCAL</span></a>
			</div>
			<div class="col-md-6">
				{{#if sessionExists }}
					<div class="text-right user-auth-buttons">
						<a id="profile-button" href="/logout"><button class="btn btn-primary text-right">Profile</button></a>
						<a href="/logout"><button class="btn btn-primary text-right">Logout</button></a>
					</div>
				{{else}}
					<div class="text-right user-auth-buttons">
						<a href="/login"><button class="btn btn-primary text-right">Login</button></a>
						<a href="/register"><button class="btn btn-primary text-right">Register</button></a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>

	<hr>

	{{{body}}}

	<script type="text/javascript" src="js/build/production.min.js"></script>
</body>
</html>
