<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<div class="container">
		<div class="row header">
			<div class="col-md-6">
				<a class="href h1" href="/"><span class="">VOTE LOCAL</span></a>
			</div>
			<div class="col-md-6">
				<div class="text-right user-auth-buttons">
					<button class="btn btn-primary">Login</button>
					<button class="btn btn-primary">Register</button>
				</div>
			</div>
		</div>
	</div>

	<hr>

	{{{body}}}

	<script type="text/javascript" src="js/build/production.js"></script>
</body>
</html>
