<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/social-sharing.css">
</head>
<body>

	<div class="container">
		<div class="row header">
			<div class="col-md-6">
				<a class="href h1" href="/"><span class="">VOTE✔LOCAL</span></a>
			</div>
			<div class="col-md-6">
				<div class="text-right user-auth-buttons">
					<a href="/login"><button class="btn btn-primary text-right">Login</button></a>
				<a href="/register"><button class="btn btn-primary text-right">Register</button></a>

				</div>
				
				<!-- Social Media Sharing -->
				<!-- Twitter -->
				<a target="_blank" href="https://twitter.com/intent/tweet?text=VOTE-LOCAL"><button class="btn-tweet" href="#">Twitter</button></a>	

				<!-- Facebook -->
				<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?"><button class="btn-facebook" href="#">Facebook</button></a>

				<!--Google+ -->
				<script src="https://apis.google.com/js/platform.js" asyn defer></script>
				<g:plus action="share"></g:plus>

			</div>
		</div>
	</div>

	<hr>

	{{{body}}}

	<script type="text/javascript" src="js/build/production.min.js"></script>
</body>
</html>
