<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form id="election-search-form" action="/getElectionInfo" method="get">
			  <div class="form-group">
			    <label for="zipcode">Find Elections in Your Area</label>
			    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code - 32216">
			  </div>
			  <button id="submit-election-search" type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p id="zipcode-entered"></p>
			<p id="electionInfo"></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p id="error"></p>
		</div>
	</div>
</div>
