
<input type='checkbox' id='form-switch'>
<form id='register-form' action="registeruser" method='post'>
  <h2>Account Creation</h2>
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="retypepw" placeholder="Re-type Password" required>
  <input type="text" name= "zipcode" placeholder="Zip Code" required>
  
  <select name="party">
  <option disabled selected value> Political Affilation</option>
  <option value="democrat">Democrat</option>
  <option value="republican">Republican</option>
  <option value="Green">Green Party</option>
  <option value="libertarian">Libertarian</option>
  <option value="Independent">Independent/Other</option>
  </select>

   <br><br>

   <h2>Customize Your Experience</h2>
   <input type="checkbox" value="Reminders"> Get reminders for upcoming events<br>
   <input type="checkbox" value="Newsletter"> Receive an election newsletter<br>
   <br>
  <button type='submit'>Register</button>
  <a href="/login"><span>Have an Account? Click here.</span></a>
</form>
