<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form id='register-form' action="registerUser" method='post'>
        <h2>Register</h2>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        <input type="text" class="form-control" name="email" placeholder="Email" required>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <input type="text" class="form-control" name= "zipcode" placeholder="Zip Code" required>

        {{#if parties}}
          <select name="political_party_id" required class="form-control">
            <option value="">Political Affilation</option>
            {{#each parties}}
              <option value="{{ this.political_party_id }}">{{ this.name }}</option>
            {{/each}}
          </select>
        {{/if}}

       <br><br>

       <h2>Customize Your Experience</h2>
       <input type="checkbox" name="reminder"> Get reminders for upcoming events<br>
       <input type="checkbox" name="newsletter"> Receive an election newsletter<br>
       <br>

        <br><br><br>
        <button class="btn btn-default" type='submit'>Register</button>
        <a class="btn btn-default" href="/login"><span>Have an account? Click here.</span></a>
      </form>
    </div>
  </div>
    {{#if successful }}
    <div class="row">
      <div class="col-md-12">
        <p class="error-message">{{ successful }}</p>
      </div>
    </div>
  {{/if}}


</div>