<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Users</title>
  <link rel="stylesheet" href="public/css/default.css">
</head>
<body>
  <div class="container">
    <h3>Generate Message</h3>
      <div class="form_page">
        <form id ="message-form" method="POST" action="send">
  				<div>
          	<input type="radio" name="emailOption" onclick="hide();" id="userdbOption" value="sendAll" >
          	<label for="userdbOption">Email Subscribers</label>
          </div>
          <div>	
            <input type="radio" name="emailOption" onclick="show();" id="inputOption" value="sendOne">
            <label for="inputOption"> Enter Email Address</label>
          <div id="mBox">
            <label for="email"> Email Recipient </label>
            <div class="IfActive">
              <input type="email" name="email">
            </div>
          </div>   
          <p class="form_block">
            <label for="message">Message</label>
            <textarea name="message" rows="10"></textarea>
          </p>
          <p class="form_block">
            <button type="submit">Submit</button>
          </p>
        </form>
        <div class="form_block"> {{receipt}} </div>
      </div>
  </div>
  {{updateForm}}
</body>
</html>