<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Users</title>
  <link rel="stylesheet" href="public/css/default.css">
</head>
<body>
  <div class="container">
    <h3>Generate Message</h3>
      <div class="form_page">
        <form id ="message-form" method="POST" action="send">
 
          <p class="form_block">
            <label for="email"> Email Recipient </label>
            <input type="email" name="email">
          </p>
          <p class="form_block">
            <label>Message</label>
            <textarea name="message" rows="10"></textarea>
          </p>
          <p class="form_block">
            <button type="submit">Submit</button>
          </p>
        </form>
        <div class="form_block"> {{receipt}} </div>
      </div>
  </div>
</body>
</html>