<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Users</title>
  <link rel="stylesheet" href="public/css/default.css">
</head>
<body>
  <div class="container">
    <h3>Generate Message</h3>
      <div class="form_page">
        <form method="POST" action="send">
          <p class="form_block">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="form_block">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
  </div>
</body>
</html>