{{#if url}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center voter-registration-header">Click on the link for your state to be taken to the vote.gov registration page.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{#each stateMap }}

						{{#each this }}
							<a class="btn btn-primary voter-registration-link" href="{{ ../../url }}{{ this }}/" target="_blank">{{ @key }}</a>
						{{/each}}

				{{/each}}
			</div>
		</div>
	</div>
{{/if}}





