* {
/*	border: 1px solid red;*/
}

.header {
	margin-top: 8px;
}

.user-auth-buttons {
	margin: 5px 0 -8px 0;
}

.invalid-zipCode {
	margin-top: 10px;
	color: red;
}

.clickable-row {
	cursor: pointer;
}