* {
	/*border: 1px solid red;*/
}

.href:hover {
	text-decoration: none;
}

.header {
	margin-top: 8px;
}

.user-auth-buttons {
	margin: 5px 0 -8px 0;
}

.invalid-zipCode {
	margin-top: 10px;
	color: red;
}

.clickable-row {
	cursor: pointer;
}

.clickable-row:hover{
	background-color: lightblue !important;
}

.election-detail {
	margin: 0 0 15px 0;
}

.election-detail-candidate-party {
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 1px dotted black;
}

.election-candidates {
	margin-top: 30px;
}

.election-candidate {
	padding: 0 5px 0 8px;
}

.proposition-detail {

}

.proposition-header, .election-header {
	border-bottom: 1px solid black;
}

.proposition-detail-title, .election-detail-title {
	font-size: 2em;
}

.proposition-detail-date, .election-detail-date {
	font-size: 1.5em;
	text-align: right;
}

.proposition-detail-description {
	margin: 20px;
}

.back-button {
	margin: 50px 0 0 0;
}

form {
  margin:0 auto;
  width:300px
}
input[type="text"], [type="password"]{
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}

button {
  padding:10px
}
label {
  cursor:pointer
}

select {
 margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}

.error-message {
	color: red;
}

.profile {
	margin-left: 50px;
}

.profile-info {
	margin-left: 1px;
	display: inline;
}

.profile-label {
	font-size: 1.5em;
	font-weight: bold;
}

.profile-data {
	font-size: 1.2em;
}